{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto p-4 bg-gray-900 text-red-800">
    <h1 class="text-2xl font-bold mb-4">
        {% if form.instance.pk %} Edit {% else %} Create {% endif %} Station
    </h1>
    <form method="post" class="space-y-4 bg-gray-100 p-6 rounded shadow">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="media-preview" class="grid grid-cols-2 gap-4"></div>
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Save</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function() {
        function updateMediaPreview() {
            var selectedProducts = $('#id_products').val();
            if (selectedProducts) {
                $.ajax({
                    url: '{% url "get_product_media" %}',
                    data: {
                        'products[]': selectedProducts
                    },
                    dataType: 'json',
                    success: function(data) {
                        var mediaPreview = $('#media-preview');
                        mediaPreview.empty();
                        data.media.forEach(function(media) {
                            var mediaElement;
                            var mediaTitle = media.name || 'Untitled';
                            if (['mp4', 'mov'].includes(media.type)) {
                                mediaElement = $('<video>', {
                                    src: media.url,
                                    controls: true,
                                    class: 'max-w-full h-auto rounded shadow',
                                    'data-title': mediaTitle
                                });
                            } else if (media.type === 'pdf') {
                                mediaElement = $('<embed>', {
                                    src: media.url,
                                    type: 'application/pdf',
                                    width: '100%',
                                    height: '300px',
                                    class: 'rounded shadow',
                                    'data-title': mediaTitle
                                });
                            }
                            if (mediaElement) {
                                mediaPreview.append('<div class="media-item"><div class="media-title">' + mediaTitle + '</div></div>').append(mediaElement);
                            }
                        });
                    }
                });
            }
        }

        $('#id_products').change(updateMediaPreview);
        updateMediaPreview();  // Call on page load for edit form
    });
</script>
{% endblock %}
